<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="cover overlay" style="background-image: url('{% static "images/slider-2.jpg" %}')">
        <div class="container">
          <div class="row ">
            <div class="col-lg-7 mx-auto text-center align-self-center">
              <h1 class="mb-5 heading">Our Goal is to Make Your Life Better</h1>
              <div class="row">
                <div class="col-lg-4">
                  <div class="feature">
                    <span class="img-wrap">
                      <img src="{% static 'images/svg/svg/chess.svg' %}" alt="Image" class="img-fluid">
                    </span>
                    <h3>Games</h3>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature">
                    <span class="img-wrap">
                      <img src="{% static 'images/svg/svg/exercise.svg' %}" alt="Image" class="img-fluid">
                    </span>
                    <h3>Exercises</h3>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature">
                    <span class="img-wrap">
                      <img src="{% static 'images/svg/svg/images.svg' %}" alt="Image" class="img-fluid">
                    </span>
                    <h3>Gardening</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>


<script src="{% static 'js/main.js' %}"></script>
</body>
</html>